SellCar/SellCar.xcodeproj/project.xcworkspace/xcuserdata/dmitrijtatarincev.xcuserdatad/UserInterfaceState.xcuserstate
SellCar/SellCar.xcodeproj/xcuserdata
SellCar/SellCar.xcworkspace/xcuserdata/dmitrijtatarincev.xcuserdatad
SellCar/Pods/Pods.xcodeproj/xcuserdata
